* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 10em;
    color: #333;
}

section span {
    position: absolute;
    bottom: -50px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    animation: animate 4s linear infinite;
}

section span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25)translate(-70%, -70%);
    background: radial-gradient(#333, transparent);
    border-radius: 50%;
}

@keyframes animate {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(-1200%);
        opacity: 1;
    }
}