* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./images/photo-1476958526483-36efcaa80b1b.jpeg);
    background-size: cover;
    clip-path: circle( 150px at var(--x) var(--y));
}