body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
}

.container div {
    display: flex;
    min-width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100vw;
    height: 100vh;
}