* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #011000;
}

.circle {
    position: relative;
    width: 200px;
    height: 200px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 40px rgba(37, 255, 11, 0.2), 0 0 0 80px rgba(37, 255, 11, 0.2), 0 0 0 120px rgba(37, 255, 11, 0.2), 0 0 0 160px rgba(37, 255, 11, 0.2), 0 0 0 200px rgba(37, 255, 11, 0.2), 0 0 0 240px rgba(37, 255, 11, 0.1);
}

.circle:hover {
    box-shadow: 0 0 0 40px rgba(66, 27, 207, 0.2), 0 0 0 80px rgba(66, 27, 207, 0.2), 0 0 0 120px rgba(66, 27, 207, 0.2), 0 0 0 160px rgba(66, 27, 207, 0.2), 0 0 0 200px rgba(66, 27, 207, 0.2), 0 0 0 240px rgba(66, 27, 207, 0.1);
    transition-delay: 0.5s;
}