* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section h2 {
    position: relative;
    font-size: 8em;
    color: #ffffff;
    z-index: 10000;
    mix-blend-mode: overlay;
}

section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:500px) {
    section h2 {
        font-size: 4em;
    }
}