* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

section {
    position: absolute;
    top: -100px;
    left: -100px;
    right: -100px;
    bottom: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(15px);
}

section .sphere {
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    z-index: 10;
}

section .sphere:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    border-radius: 50%;
    box-shadow: inset 0 100px 100px rgba(255, 255, 255, 0.5), inset 0 -100px 100px rgba(0, 0, 0, 1), inset 0 0 100px rgba(0, 0, 0, 1);
}

( section .sphere:after {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 700px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(#000, transparent, transparent);
    z-index: -1;
}

section .sphere video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0);
    border-radius: 50%;
}

@media (max-width:320px) {
    section::before {
        width: 40vh;
        height: 30vh;
        transform: translateX(-50%)scale(2);
    }
    section .content p {
        font-size: 1em;
    }
}