* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    transform-style: preserve-3d;
}

.container .box {
    position: relative;
    width: 450px;
    height: 300px;
    margin: 60px 0;
    transform-style: preserve-3d;
}

.container .box:hover {
    box-shadow: 0 50px 80px rgba(0, 0, 0, .2);
}

.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .imgBx img {
    width: 100%;
    padding: 0 40px;
}

.container .box .contentBx {
    position: absolute;
    top: 50%;
    left: 50px;
    right: 50px;
    background: #fff;
    transform: translateZ(20px) scaleY(0);
    padding: 40px 25px;
    transform-origin: top;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.container .box:hover .contentBx {
    transform: translateZ(60px) scaleY(1);
}