* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}

body.light {
    background: #d1dae3;
}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #091921 url(./kisspng-clock-face-template-clip-art-clock-templates-5a87301b8674d3.5851534215188091155507.png);
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.05), inset 20px 20px 20px rgba(255, 255, 255, 0.05), -8px -8px 15px rgba(0, 0, 0, 0.3), inset 20px 20px 20px rgba(0, 0, 0, 0.3);
}

body.light .clock {
    background: #d1dae3 url(./kisspng-clock-face-template-clip-art-clock-templates-5a87301b8674d3.5851534215188091155507.png);
    background-size: cover;
    border: 4px solid #cad3dc;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.05), inset 10px 10px 10px rgba(255, 255, 255, 0.05), -8px -8px 15px rgba(0, 0, 0, 0.1), inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}

body.light .clock:before {
    background: #008eff;
}

.clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour, .clock .min, .clock .sec {
    position: absolute;
}

.clock .hour, .hr {
    width: 160px;
    height: 160px;
}

.clock .min, .mn {
    width: 190px;
    height: 190px;
}

.clock .sec, .sc {
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

body.light .mn::before {
    background: #091921;
}

.sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #008eff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.toggle {
    position: absolute;
    top: 30px;
    right: 150px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: #d1dae3;
    color: #d1dae3;
    font-family: consolas;
    cursor: pointer;
}

.toggleClass {
    position: absolute;
    top: 30px;
    right: 150px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: #d1dae3;
    color: #d1dae3;
    font-family: consolas;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toggleClass:before {
    position: absolute;
    left: 25px;
    content: 'Light Mode';
    white-space: nowrap;
}

body.light .toggleClass {
    background: #091921;
    color: #091921;
}

body.light .toggleClass:before {
    content: 'Dark Mode';
}

@media screen and (max-width:390px) {
    .clock {
        width: 250px;
        height: 250px;
    }
}