* {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #008aff, #ff137d), url(./24591-2-avengers.png);
    background-blend-mode: screen;
    background-repeat: no-repeat;
}

section .content {
    max-width: 700px;
}

section .content h2 {
    font-size: 3em;
    color: #fff;
}

section .content p {
    font-size: 1.2em;
    color: #fff;
}

section img {
    position: relative;
    max-width: 350px;
    z-index: 10000;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}